
.driveway-table {
    border: 1px solid rgb(202, 202, 202);
    border-width: 2px ;
    padding: 10px 15px;
    
    
}

.driveway {
    border: 1px solid rgb(202, 202, 202);
    border-width: 6px 6px 6px 6px;
    border-radius: 5px;
    
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,serif*/
    font-family: Helvetica;
}

.petrol {
    background: yellow;
}

.diesel {
    background: green;
}

.sidelayout {
    color: lightgray;
    background-color: rgb(33, 33, 49);
}


.body {
    padding-top: 5rem;
  }

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .sidebartext {
      color: lightseagreen;
  }

  .error-template {padding: 40px 15px;text-align: center;}
  .error-actions {margin-top:15px;margin-bottom:15px;}
  .error-actions .btn { margin-right:10px; }

label {
color: grey;
font-weight: bold;
display: block;
width: 150px;
float: left;
}s

.dataTables_filter input { width: 100px }

