{% extends "layout.html" %}

{% block title %}
    Accounting
{% endblock %}

{% block sidebar %}
      <div class="row">
        <nav class="col-md-2 col-sm-2 d-none d-sm-block sidebar sidelayout">
          <div class="sidebar-sticky">
            
            
          <!--Admin View-->
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span style="color: lime;">Accounting</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            
            
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accounts') }}">
                  <span data-feather="briefcase"></span>
                  <span style="color:lightseagreen;">
                  Accounts
                  </span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('journal_pending') }}">
                <span data-feather="clipboard"></span>
                <span style="color: lightseagreen;">
                Journals Pending
                </span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('process_journals') }}">
              <span data-feather="clipboard"></span>
              <span style="color: lightseagreen;">
              Process Journals
              </span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ledger_report') }}">
            <span data-feather="columns"></span>
            <span style="color: lightseagreen;">
            Ledger Report
            </span>
          </a>
      </li>
       
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('trial_balance_report') }}">
            <span data-feather="file"></span>
            <span style="color: lightseagreen;">
            Trial Balance Report
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profit_and_loss') }}">
            <span data-feather="file"></span>
            <span style="color: lightseagreen;">
            Income Statement
            </span>
          </a>
        </li>
              
        </ul>
      </nav>

         
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <header>
              <div class="alert alert-{{ category }} text-center alert-dismissable " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    {{ message }}
                </div>
            </header>
            {% endfor %}
          {% endif %}
        {% endwith %}
            {% block main %}{% endblock %}
            <footer class="text-center text-muted">
              &copy; 2020
            </footer>
        </main>

      </div>
       
  {% endblock %}
   

    