{% extends "layout.html" %}

{% block title %}
{{ account.account_name }} Statement
{% endblock %}

{% block sidebar %}
<a href="{{ url_for('cash_accounts',) }}"><span style="color: royalblue;">Back</span></a>
<h4 class="h4 text-center p3">{{ account.account_name }} Report</h4>
<h5 class="text-center">Balance: {{ balance | currencyFormat }}</h5>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row">
        <div class="col-sm-6 col-lg-4 col-md-4 ">
          <div class="card">
            <div class="card-header" style="background-color: lightseagreen;">Filter</div>
            <div class="card-body">
            <form  action="{{ url_for('cash_account',account_id= account.id ) }}" id="form" method="post">
              
              <div class="form-group">
                <label for="start_date">From:</label>
                  <input type = "date" name="start_date" id="start_date" value="{{ start_date }}" autocomplete="off" autofocus class="form-control" required>
              </div>
              <div class="form-group">
                <label for="end_date">To:</label>
                  <input type = "date"  name="end_date" id="end_date" value="{{ end_date }}" autocomplete="off"  class="form-control" required>
              </div>
              <div class="form-group">
                  <button type="submit"  id="clickbutton" class="btn btn-block btn-outline-secondary">Enter</button>
              </div>
              </form>
              </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-8 col-md-8">
            <h4>Transactions</h4>
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Account</th>
                        <th>TXN ID</th>
                        <th>Journal Number</th>
                        <th>TXN TYPE</th>
                        <th>Amount</th>
                        <th>Post Balance</th>
                        
                    </tr>
                </thead>
                <tbody>
                  
                    {% for j in journals %}
                    <tr>
                        <td>{{ j.date }}</td>
                        <td>{{ account.account_name }}</td>
                        <td>{{ j.id }}</td>
                        <td>{{ j.journal_id }}</td>
                        <td>{{ j.txn_type }}</td>
                        <td>{{ j.amount | currencyFormat  }}</td>
                        <td>{{ j.post_balance | currencyFormat  }}</td>
                        
            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
</div>


 
</div>               

 {% endblock %}
