{% extends "inventory_control_layout.html" %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Manage Coupons</h1>
    
  </div>

  <h2>Coupon Table
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#AddCouponFormModal">Add Coupon <span data-feather="plus-square"></span></button>
          <button class="btn btn-sm btn-outline-secondary"data-toggle="modal" data-target="#DeleteCouponFormModal">Delete Coupon <span data-feather="trash"></span></button>
        </div>
      </div>
  </h2>
    <div class="row">
        <div class="col-md-9">
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Coupon Name</th>
                        <th>Coupon Qty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for coupon in coupons %}
                    <tr>
                        <td>{{ coupon.name }}</td>
                        <td>{{ coupon.coupon_qty }}</td>
                        <td>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#EditCoupon{{ coupon.id }}">
                                Edit  <span data-feather="edit-2"></span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
             </div>           

        
                <!-- Add Coupon Modal -->
                <div class="modal fade" id="AddCouponFormModal" tabindex="-1" role="dialog" aria-labelledby="AddCouponFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddCouponFormLabel">Add Coupon</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <form  action="{{ url_for('add_coupon') }}" method="post" > 
                                    <div class="form-group" >
                                        <label for="N">Name:</label>
                                        <input id="N" type = "text"  name="coupon_name" autocomplete="off" placeholder="Coupon Name" autofocus class="form-control" required>
                                    </div>
                
                                    <div class="form-group " >
                                        <label for="LC">Litres per Coupon:</label>
                                        <input id="LC" type = "number"  name="coupon_qty" autocomplete="off" placeholder="Coupon Qty" autofocus class="form-control" required>
                                    </div>
                                    <div id="account"  class="form-group">
                                        <label for="SA">Select Account for coupons:</label>
                                        <select id="SA" class="form-control"  name="account" required>
                                            <option selected></option>
                                            {% for account in accounts %}
                                            <option  value="{{ account.id }}">{{ account.name }}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    
                                    <button class="btn btn-primary btn-block" type="submit">Add Coupon</button>
                            
                                 </form>
                            </div>
                            <div class="modal-footer">  
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--Add Coupon-->
                
                    <!--Delete Coupon Modal -->
                    <div class="modal fade" id="DeleteCouponFormModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCouponFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteCouponFormLabel">Remove Coupon</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('delete_coupon') }}" method="post" > 
                                        <div class="form-group">
                                            <select class="form-control" name="Coupons" required>
                                                <option selected></option>
                                                {% for  coupon in coupons %}
                                                <option  value="{{ coupon.id }}">{{ coupon.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="p-2">
                                        <button class="btn btn-primary btn-group" type="submit">Delete Coupon</button>
                                        </div>
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div><!--Deletes Coupon-->

                     <!-- Edit Coupon Modal -->
                {% for coupon in coupons %}
                <div class="modal fade" id="EditCoupon{{ coupon.id }}" tabindex="-1" role="dialog" aria-labelledby="EditCouponFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="EditCouponFormLabel">Edit Coupon</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <form  action="{{ url_for('edit_coupon') }}" method="post" > 
                                    <div class="form-group" >
                                        <input type = "text"  value="{{ coupon.id }}" name="coupon_id" autocomplete="off"  autofocus class="form-control" hidden>
                                    </div>
                                    <div class="form-group" >
                                        <label for="N">Name:</label>
                                        <input id="N" type = "text" value="{{ coupon.name }}"  name="coupon_name" autocomplete="off" placeholder="Coupon Name" autofocus class="form-control" required>
                                    </div>
                
                                    <div class="form-group " >
                                        <label for="LC">Litres per Coupon:</label>
                                        <input id="LC" type = "number" value="{{ coupon.coupon_qty }}" name="coupon_qty" autocomplete="off" placeholder="Coupon Qty" autofocus class="form-control" required>
                                    </div>
                                    <div id="account"  class="form-group">
                                        <label for="SA">Select Account for coupons:</label>
                                        <select id="SA" class="form-control"  name="account" required>
                                            <option selected></option>
                                            {% for account in accounts %}
                                            <option  value="{{ account.id }}">{{ account.name }}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    
                                    <button class="btn btn-primary btn-block" type="submit">Edit </button>
                            
                                 </form>
                            </div>
                            <div class="modal-footer">  
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--Edit Coupon-->
                {% endfor %}
        </div>
    </div>

    

    
{% endblock %}