{% extends "layout.html" %}

{% block title %}
    Customers & Suppliers
{% endblock %}

{% block sidebar %}
      <div class="row">
        <nav class="col-md-2 d-none d-md-block  sidebar sidelayout">
          <div class="sidebar-sticky">
            
            
          <!--Admin View-->
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span style="color: lime;">Customers & Suppliers</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('customers') }}">
                  <span data-feather="list"></span>
                  <span style="color: lightseagreen;">
                  Customers</span>
                </a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('suppliers') }}">
                  <span data-feather="list"></span>
                  <span  style="color: lightseagreen">Suppliers</span>
                </a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accounts') }}">
                  <span data-feather="list"></span>
                  <span  style="color: lightseagreen">Expense Accounts</span>
                </a>
              </li>
            
            </ul>
            </nav>

         
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-info border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
            {% block main %}{% endblock %}
            <footer class="text-center text-muted">
              &copy; 2020
            </footer>
        </main>

      </div>
       
      {% endblock %}
   

    