{% extends "layout.html" %}

{% block title %}
{{ customer }} Statement
{% endblock %}

{% block sidebar %}
 
<a href="{{ url_for('customers') }}"><span style="color: royalblue;">Back</span></a>




    <div class="row">
        <div class="col-sm col-lg-3 col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: lightseagreen;">Filter</div>
                <div class="card-body">
                <form style="display: inline-block;" action="{{ url_for('customer',customer_id= customer.id) }}"  method="post">
                    <div class="form-group col-md-6 col-lg-12 ">
                        <label for="start_date">From:</label>
                          <input type = "date" name="start_date" id="start_date" value="{{ start }}" autocomplete="off" autofocus class="form-control" required>
                      </div>
                      <div class="form-group col-md-6 col-lg-12 ">
                        <label for="end_date">To:</label>
                          <input type = "date"  name="end_date" id="end_date" value="{{ end }}" autocomplete="off"  class="form-control" required>
                      </div>
                      <div class="form-group col-md-6 col-lg-12">
                          <button type="submit"  id="clickbutton" class="btn btn-block btn-outline-secondary">Enter</button>
                      </div>
                
                </form>
                </div>
            </div>
        </div> 
     
    

<div class="col-sm-6 col-lg-8 col-md-8">
    <div class="card text-center p3" style="background-color: whitesmoke;">
    <h4 class="h4 ">{{ customer }} Statement</h4>
    <h6 class="h4 " >Period: {{ start }}  TO   {{ end }}</h6>
    <h5>Balance: {{ net | currencyFormat }}</h5>
    </div>
    <div class="p-2"></div>
    <table class="display" id="export">
        <thead>
            <th>Date</th>
            <th>Details</th>
            <th>Dr</th>
            <th>Cr</th>
            <th>Balance</th>  
        </thead>
        <tbody>
            {% for i in report %}
            <tr>
                <td>{{ report[i]["date"]  }}</td>
                {% if report[i]["invoice_id"] %}
                    <td><a href="{{ url_for('invoice',invoice_id=report[i]['invoice_id']) }}">{{ report[i]["details"] }} <br>{{ report[i]["product"], report[i]["qty"] ,  report[i]["price"] }} </a></td>
                {% else %}
                    <td>{{ report[i]["details"] }}</td>
                {% endif %}
                
                <td>{{ report[i]['dr'] | currencyFormat }}</td>
            
                <td>{{ report[i]["cr"] | currencyFormat }}</td>
                <td>{{ report[i]["balance"] | currencyFormat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}