{% extends "layout.html" %}



{% block sidebar %}
      <div class="row">
        <nav class="col-md-2 col-sm-2 d-none d-sm-block  sidebar sidelayout">
          <div class="sidebar-sticky">
            
            
          <!--Admin View-->
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span style="color: lime;">Customers & Suppliers</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('customers') }}">
                  <span data-feather="users"></span>
                  <span style="color: lightseagreen;">
                  Customers</span>
                </a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('suppliers') }}">
                  <span data-feather="users"></span>
                  <span  style="color: lightseagreen">Suppliers</span>
                </a>
              </li>
            
              
            
            </ul>
            </nav>

         
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 p-3">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <header>
              <div class="alert alert-{{ category }} text-center alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    {{ message }}
                </div>
            </header>
            {% endfor %}
          {% endif %}
        {% endwith %}
            {% block main %}{% endblock %}
            <footer class="text-center text-muted">
              &copy; 2020
            </footer>
        </main>

      </div>
       
      {% endblock %}
   

    