{% extends "customers_layout.html" %}



{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#CustomerPayment">
        Receive Customer Payment
      </button>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#AddCustomerFormModal">Add Customer</button>
        <button class="btn btn-sm btn-outline-secondary"data-toggle="modal" data-target="#DeleteCustomerFormModal">Delete Customer</button>
      </div>
    </div>
</div>

<div class="text-center">
<h4>Customer Table</h4>
    
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Contact Person</th>
                        <th>Phone Number</th>
                        <th>Balance</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.contact_person }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td><a href="{{ url_for('customer',customer_id=customer.id) }}">{{ balances[customer] | round(2)}}</a></td>
                        <td>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#EditCustomer{{ customer.id }}">
                                Edit Customer
                            </button>
                        </td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>               
                            <!--Edit Customer Modal -->
                            {% for customer in customers %}
                            <div class="modal fade" id="EditCustomer{{ customer.id }}" tabindex="-1" role="dialog" aria-labelledby="EditCustomer{{ customer.id }}FormModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="EditCustomer{{ customer.id }}FormLabel">Edit {{ customer.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">
                                            <form  action="{{ url_for('edit_customer') }}" method="post" > 
                                                <div class="form-group  " >
                                                    <input type = "text"  value="{{ customer.name }}" name="name" autocomplete="off" placeholder="Username" autofocus class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type = "text" value="{{ customer.contact_person }}" name="contact_person" autocomplete="off" placeholder="contact_person" autofocus class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type ="text" value="{{ customer.phone_number }}" name="phone" autocomplete="off" placeholder="Phone Number" autofocus class="form-control" required>
                                                </div>
                         
                                                <button class="btn btn-primary btn-block" type="submit">Update Customer</button>
                                        
                                             </form>
                                        </div>
                                        <div class="modal-footer">  
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                     <!--Edit Customer Modal-->

        
                <!-- Add Customer Modal -->
                <div class="modal fade" id="AddCustomerFormModal" tabindex="-1" role="dialog" aria-labelledby="AddCustomerFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddCustomerFormLabel">Add New Customer</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <form  action="{{ url_for('add_customer') }}" method="post" > 
                                    <div class="form-group" >
                                        <input type = "text"  name="name" autocomplete="off" placeholder="name" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group  ">
                                        <input type = "text"  name="contact_person" autocomplete="off" placeholder="contact person" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group  ">
                                        <input type ="tel"  name="phone" autocomplete="off" placeholder="Phone Number" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                    <select class="form-control" name="type">
                                        <option selected>Choose..</option>
                                        <option  value="Non-Cash">Non-Cash</option>
                                        <option  value="Cash">Cash</option>
                                    </select>
                                </div> 
                                    <button class="btn btn-primary btn-block" type="submit">Add Customer</button>
                                 </form>
                            </div>
                            <div class="modal-footer">  
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--Add Customer-->
                
                    <!--Delete Customer modal -->
                    <div class="modal fade" id="DeleteCustomerFormModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCustomerFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteCustomerFormLabel">Remove Customer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('delete_customer') }}" method="post" > 
                                        <div class="form-group">
                                            <select class="form-control" name="customers">
                                                <option selected>Choose..</option>
                                                {% for  customer in customers %}
                                                <option  value="{{ customer.id }}">{{ customer.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                
                                        <button class="btn btn-primary btn-block btn-group" type="submit">Remove Customer</button>
                                
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div><!--Deletes Customer Account-->
                    <!--Customer Payment-->
                    <div class="modal fade" id="CustomerPayment" tabindex="-1" role="dialog" aria-labelledby="CustomerPaymentFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="CustomerPaymentFormLabel">Customer Payment</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('customer_payment') }}" method="post" > 
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input type = "date"  name="date" autocomplete="off"  autofocus class="form-control" required>
                                            </div>
                                            <select class="form-control" name="customers">
                                                <option selected>Choose..</option>
                                                {% for  customer in customers %}
                                                <option  value="{{ customer.id }}">{{ customer.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group  ">
                                            <input type ="number" step="0.01" name="amount" autocomplete="off" placeholder="Amount ($)" autofocus class="form-control" required>
                                        </div>
                                        <div class="form-group ">
                                            <input type ="text"  name="ref" autocomplete="off" placeholder="Reference" autofocus class="form-control">
                                        </div>
                                
                                        <button class="btn btn-primary btn-block btn-group" type="submit">Add Payment</button>
                                
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div><!--Customer Payment-->
   

    

    
{% endblock %}