<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
<link href="/static/dashboard.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">

<a href="{{ url_for('cash_account',account_id=cashaccount_id) }}"><span style="color: royalblue;">Back</span></a>
<div class="text-center">
    <h4>{{ date }}</h4>
    
    </div>
<div class="p-5 text-center">
    <table class="table table-sm table-striped">
        <thead>
            <th>Shift</th>
            <th>Expense Account</th>
            <th>Amount</th>

        </thead>
        <tbody>
            {% for payout in payouts %}
            <tr>
                <td>{{ payout[0].shift_id }}</td>
                <td>{{ payout[1].account_name  }}</td>
                <td>{{ payout[0].amount }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2">Total</th>
                <th>{{ total }}</th>
            </tr>
        </tbody>
    </table>
