{% extends "dashboard_layout.html" %}



{% block main %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-left pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" id="heading" value="{{ h }}">{{ h }}</h1>
        
      </div>

      <div class="row">
        <div class="col-sm-6 col-lg-3 col-md-6 ">
          <div class="card">
            <div class="card-header" style="background-color: lightseagreen;">Filter</div>
            <div class="card-body">
            <form  action="{{ url_for('dashboard_reports') }}" id="form" method="post">
              <div class="form-group">
                <label for="product">Select Product:</label>
                  <select class="form-control"  id="product">
                    <option selected >Fuel</option>
                    <option>Lubricants</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="frequency">Select Graph:</label>
                  <select class="form-control"  id="frequency">
                    <option selected >Day-to-day</option>
                    <option>Month-to-month</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="start_date">From:</label>
                  <input type = "date"  value="{{ start_date }}" id="start_date" autocomplete="off" autofocus class="form-control" required>
              </div>
              <div class="form-group">
                <label for="end_date">To:</label>
                  <input type = "date"  value="{{ end_date }}" id="end_date" autocomplete="off"  class="form-control" required>
              </div>
              <div class="form-group">
                  <button type="submit"  id="clickbutton" class="btn btn-block btn-outline-secondary">Enter</button>
              </div>
              </form>
              </div>
              </div>
        </div>
        <div class="col-sm-6 col-lg-9 col-md-6 shadow-lg  mb-5 bg-white rounded">
            <canvas class="my-4 w-100" id="myChart" width="900" height="500"></canvas>
        </div>
      </div>
      
      
      
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      
  
      <script>
        window.onload = function(){
          document.getElementById('clickbutton').click()
        }
        document.addEventListener('DOMContentLoaded',() => {
          document.querySelector('#form').onsubmit = () => {
            const request = new XMLHttpRequest()
            const start_date = document.querySelector('#start_date').value;
            const end_date = document.querySelector('#end_date').value;
            const product = document.querySelector('#product').value;
            const frequency = document.querySelector('#frequency').value;
            const heading = document.querySelector('#heading').innerHTML;
            var measurement = (() => {
              if(heading=='Sales'){
                return '( Litres )';
              }
              else{
                return '( $ )';
              }

            })()
            request.open('POST','/dashboard/reports');
            
            // when request finishes
            request.onload = () => {

              const report = JSON.parse(request.responseText);
              var dates = report.Date;
              var data = report.Data;
  

              var ctx = document.getElementById("myChart");
                  var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: dates,
                      datasets: [{
                        data: data,
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                      }]
                    },
                    options: {
                      scales: {
                        yAxes: [{
                          ticks: {
                            beginAtZero: true
                          }
                        }]
                      },
                      legend: {
                        display: false,
                      },
                      title: {
                        display:true,
                        text:frequency.concat(' ',heading,' Report ',measurement)
                      }
                    }
                  });

            }

            const data = new FormData();
            data.append('start_date',start_date);
            data.append('end_date',end_date);
            data.append('frequency',frequency);
            data.append('product',product);
            data.append('heading',heading);
            //send request
            request.send(data);

            return false;  

            }
            
            });
      </script>

     
{% endblock %}
  
