{% extends "dashboard_layout.html" %}



{% block main %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" id="heading" value="{{ h }}">{{ h }}</h1>
        <form style="display: inline-block;" action="{{ url_for('dashboard_reports') }}" id="form" method="post">
          <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              <select class="form-control"  id="product">
                <option selected >Fuel</option>
                <option>Lubricants</option>
              </select>
              <select class="form-control"  id="frequency">
                <option selected >Day-to-day</option>
                <option>Month-to-month</option>
              </select>
              <input type = "date"  value="{{ start_date }}" id="start_date" autocomplete="off" autofocus class="form-control" required>
              <input type = "date"  value="{{ end_date }}" id="end_date" autocomplete="off"  class="form-control" required>
              <button type="submit"  id="clickbutton" class="btn btn-sm btn-outline-secondary">Enter</button>
          </div>
          </div>
          </form>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          </div>
      </div>
     

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      
      
      
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>-->
      <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
      <!--<script src="{{ url_for('static',filename='dashboard.js') }}"></script>-->
  
      <script>
        window.onload = function(){
          document.getElementById('clickbutton').click()
        }
        document.addEventListener('DOMContentLoaded',() => {
          document.querySelector('#form').onsubmit = () => {
            const request = new XMLHttpRequest()
            const start_date = document.querySelector('#start_date').value;
            const end_date = document.querySelector('#end_date').value;
            const product = document.querySelector('#product').value;
            const frequency = document.querySelector('#frequency').value;
            const heading = document.querySelector('#heading').innerHTML;
          
            request.open('POST','/dashboard/reports');
            
            // when request finishes
            request.onload = () => {

              const report = JSON.parse(request.responseText);
              var dates = report.Date;
              var data = report.Data;
  

              var ctx = document.getElementById("myChart");
                  var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: dates,
                      datasets: [{
                        data: data,
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                      }]
                    },
                    options: {
                      scales: {
                        yAxes: [{
                          ticks: {
                            beginAtZero: true
                          }
                        }]
                      },
                      legend: {
                        display: false,
                      },
                      title: {
                        display:true,
                        text:frequency.concat(' ',heading,' Report')
                      }
                    }
                  });

            }

            const data = new FormData();
            data.append('start_date',start_date);
            data.append('end_date',end_date);
            data.append('frequency',frequency);
            data.append('product',product);
            data.append('heading',heading);
            //send request
            request.send(data);

            return false;  

            }
            
            });
      </script>

     
{% endblock %}
  
