{% extends "dashboard_layout.html" %}



{% block main %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Tank Variance</h1>
        <div class="card">
        <div class="card-header" style="background-color: lightseagreen;">Filter</div>
        <div class="card-body">
        <form style="display: inline-block;" action="{{ url_for('dashboard_variance') }}" id="form" method="post">
          <div class="form-group">
              <select class="form-control"  id="tank" required>
                {% if tanks %}
                <option  value="{{ tanks[0].id }}" selected >{{ tanks[0].name }}</option>
                {% for tank in tanks[1:] %}
                <option value="{{ tank.id }}">{{ tank.name }}</option>
                {% endfor %}
                {% else %}
                <option selected>Add Tank </option>
                {% endif %}
              </select>
          </div>
          <div class="form-group">
            <input type = "date"  value="{{ start_date }}" id="start_date" autocomplete="off" autofocus class="form-control" required>
          </div>
          <div class="form-group">
              <input type = "date" value="{{ end_date }}"  id="end_date" autocomplete="off"  class="form-control" required>
          </div>
              <button type="submit" id="clickbutton" class="btn btn-sm btn-outline-secondary">Enter</button>
          </form>
        </div>
      </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      
      
     
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>-->
      <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
      <script>
          window.onload = function(){
          document.getElementById('clickbutton').click()
        }
        document.addEventListener('DOMContentLoaded',() => {
          document.querySelector('#form').onsubmit = () => {
            const request = new XMLHttpRequest()
            const start_date = document.querySelector('#start_date').value;
            const end_date = document.querySelector('#end_date').value;
            const tank = document.querySelector('#tank').value;
            
          
            request.open('POST','/dashboard/variance');
            
            // when request finishes
            request.onload = () => {

              const report = JSON.parse(request.responseText);
              var dates = report.Date;
              var data = report.Data;
  

              var ctx = document.getElementById("myChart");
                  var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: dates,
                      datasets: [{
                        data: data,
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                      }]
                    },
                    options: {
                      scales: {
                        yAxes: [{
                          ticks: {
                            beginAtZero: true
                          }
                        }]
                      },
                      legend: {
                        display: false,
                      },
                      title: {
                        display:true,
                        text:'Tank'.concat(' ',tank,' Shrinkage Report ( % )')
                      }
                    }
                  });

            }

            const data = new FormData();
            data.append('start_date',start_date);
            data.append('end_date',end_date);
            data.append('tank',tank);
            
            //send request
            request.send(data);

            return false;  

            }
            
            });
      </script>
{% endblock %}
  
