{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block sidebar %}
<main class="text-center">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>Sorry, an error has occured. </h2>
                <div class="error-actions">
                    <a href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support +263776393449</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</main>