{% extends "report_layout.html" %}


{% block main %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#ShiftSelection">
          Select Shift
        </button>
        <div class="btn-group mr-2">
          <button  type="button" id="print" class="btn  btn-outline-secondary">Print Pdf</button>
          <button  type="button" id="download" class="btn  btn-outline-secondary">Download Pdf</button>
        </div>
        </div>
     

    
      
      
  
      <div class="table-responsive driveway" id="printTable" style="margin:2%;">
  
      
      <h2 class="text-center">{{ session["org_name"] }}</h2>
      <div class="row">
        <div class="col-sm-6">
      
        <div style="color:black;" ><p><h4>Inventory Control Sheet</h4><br>Prepared by: {{ shift.prepared_by }}<br>Date : {{ date }}<br>Shift: {{ shift_daytime }}
      <br>Shift ID: {{ shift.id }}</p></div>
      
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: fit-content;">
          <h5 class="card-header" style="color: white; background-color: blue;">Key Metrics</h5>
          <div class="card-body" style="background-color: lightblue;">
          <table class="table table-sm">
          <thead>
            <th>Product</th>
            <th>Qty Sold During Shift</th>
            <th>Month-to-date average daily sales</th>
            <th>Month to date Sales</th>
          </thead>
          <tbody>
            <tr>
              <td>Fuels</td>
              <td>{{ total_sales_ltr }}</td>
              <td>{{ avg_sales }}</td>
              <td>{{ mnth_sales }}</td>
            </tr>
            <tr>
              <td>Lubricants</td>
              <td>{{ total_lubes_shift_sales }}</td>
              <td>{{ lube_avg }}</td>
              <td>{{ lubes_mnth_sales }}</td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
        
      </div>
      </div>
       <div class ="row p-3">
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header" style=" background-color: lightblue;" >Pumps</h5>
            <div class="card-body">
            <table class="driveway-table">
            <thead>
                <th class="driveway-table" colspan="2">Pump Name</th>
                <th class="driveway-table">Opening Readings</th>
                <th class="driveway-table">Closing Readings</th>
                <th class="driveway-table">Sales</th>
            </thead>
            <tbody>
              {%for pump in A %}
              <tr class="driveway-table">
                <td class="driveway-table" rowspan="2">{{ pump.name }}</td>
                <td class="driveway-table">Litre Reading:</td>
                <td class="numbers driveway-table">{{ pump_readings[pump.name][0][0] }}</td>
                <td class="numbers driveway-table">{{ pump_readings[pump.name][1][0] }}</td>
                <td class="numbers driveway-table">{{ pump_readings[pump.name][1][0]-pump_readings[pump.name][0][0] }}</td>
              </tr>
              <tr class="driveway-table">
                <td class="driveway-table">Money Reading (in $):</td>
                <td class="numbers driveway-table">{{ pump_readings[pump.name][0][1] }}</td>
                <td class="numbers driveway-table">{{ pump_readings[pump.name][1][1] }}</td>
                <td class="numbers driveway-table">{{ pump_readings[pump.name][1][1]-pump_readings[pump.name][0][1] }}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <h5 class="card-header" style=" background-color: lightblue;" >Pumps</h5>
              <div class="card-body">
              <table class="driveway-table">
              <thead>
                  <th class="driveway-table" colspan="2">Pump Name</th>
                  <th class="driveway-table">Opening Readings</th>
                  <th class="driveway-table">Closing Readings</th>
                  <th class="driveway-table">Sales</th>
              </thead>
              <tbody>
                {%for pump in B %}
                <tr class="driveway-table">
                  <td class="driveway-table" rowspan="2">{{ pump.name }}</td>
                  <td class="driveway-table">Litre Reading:</td>
                  <td class="numbers driveway-table">{{ pump_readings[pump.name][0][0] }}</td>
                  <td class="numbers driveway-table">{{ pump_readings[pump.name][1][0] }}</td>
                  <td class="numbers driveway-table">{{ pump_readings[pump.name][1][0]-pump_readings[pump.name][0][0] }}</td>
                </tr>
                <tr class="driveway-table">
                  <td class="driveway-table">Money Reading (in $):</td>
                  <td class="numbers driveway-table">{{ pump_readings[pump.name][0][1] }}</td>
                  <td class="numbers driveway-table">{{ pump_readings[pump.name][1][1] }}</td>
                  <td class="numbers driveway-table">{{ pump_readings[pump.name][1][1]-pump_readings[pump.name][0][1] }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          </div>
        </div>
        </div>
        <div class="card" style="width: fit-content;">
            <h5 class="card-header" style=" background-color: lightblue;">Product Sales</h5>
            <div class="card-body">
              <table>
              <thead class="driveway-table">
                <th class="driveway-table">Product</th>
                <th class="driveway-table">Cost Price</th>
                <th class="driveway-table">Selling Price</th>
                <th class="driveway-table">Litres</th>
                <th class="driveway-table">Amount</th>
              </thead>
              <tbody>
                {% for product in product_sales_ltr %}
                <tr class="driveway-table">
                  <td class="driveway-table">{{ product }}</td>
                  <td class="driveway-table">{{ product_sales_ltr[product][1][1].cost_price }}</td>
                  <td class="driveway-table">{{ product_sales_ltr[product][1][1].selling_price }}</td>
                  <td class="driveway-table">{{ product_sales_ltr[product][0] }}</td>
                  <td class="numbers driveway-table">{{ product_sales_ltr[product][0]*product_sales_ltr[product][1][1].selling_price | round(2) }}</td>
                </tr>
                {% endfor %}
                <tr class="driveway-table">
                  <th class="driveway-table" colspan="3">Total</th>
                  <td class="driveway-table">{{ total_sales_ltr }}</td>
                  <td class="numbers driveway-table">{{ total_sales_amt }}</td>
                </tr>
              </tbody>
            </table>
            </div>
            </div>
      <div class="card" style="width: fit-content;">
      <h5 class="card-header" style=" background-color: lightblue;">Tank Analysis</h5>
      <div class="card-body">
        <table>
            <thead>
              <th class="driveway-table">Tank Name</th>
              <th class="driveway-table">Opening Dip</th>
              <th class="driveway-table">Delivery</th>
              <th class="driveway-table">Closing Dip </th>
              <th class="driveway-table"> Tank Sales</th>
              <th class="driveway-table">Pump Sales</th>
              <th class="driveway-table">Variance</th>
            </thead>
            <tbody>
              {% for tank in tank_dips %}
              <tr class="driveway-table">
                <td>{{ tank }}</td>
                <td class="numbers driveway-table">{{ tank_dips[tank][0] }}</td>
                <td class="numbers driveway-table">{{ tank_dips[tank][3] }} </td>
                <td class="numbers driveway-table">{{ tank_dips[tank][1] }}</td>
                <td class="numbers driveway-table">{{ tank_dips[tank][0]+ tank_dips[tank][3]-tank_dips[tank][1] }}</td>
                <td class="numbers driveway-table">{{ tank_dips[tank][2] }} ltrs</td>
                <td class="numbers driveway-table">{{ tank_dips[tank][2]-(tank_dips[tank][0]+tank_dips[tank][3]-tank_dips[tank][1]) }}</td>
              </tr>
              {% endfor %}
            </tbody>  
        </table>
        </div>
        </div>
        <div class ="row p-3">
          <div class="col-sm-6">
          <div class="card" style="width: fit-content;">
          <h5 class="card-header" style=" background-color: lightblue;">Sales Breadown</h5>
          <div class="card-body">
        
            <table class="table table-sm">
              <thead>
                <th>Account</th>
                <th>Amount</th>
              </thead>
              <tbody>
                {% for i in sales_breakdown %}
                <tr>
                  <td>{{ i }}</td>
                  <td class="numbers">{{ sales_breakdown[i] |round(2)}}</td>
                </tr>
               {% endfor %}
               <tr>
                 <th>Total:</th>
                 <td></td>
               </tr>
              </tbody>
        </table>
        </div>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width: fit-content;">
          <h5 class="card-header" style=" background-color: lightblue;">Cash Payouts</h5>
          <div class="card-body">
          <table class="table table-sm">
          <tr>
            <th scope="row">Total Cash Sales:</th>
            <td class="numbers">{{ sales_breakdown["Cash"] | round(2) }}</td>
          </tr>
          <th  colspan="2">Expenses:</th>
          {% if expenses %}
          {% for expense in expenses %}
          <tr>
            <td>{{ expense[1].account_name }}</td>
            <td class="numbers">{{ expense[0].amount | round(2) }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td>------------</td>
            <td>0.00</td>
          </tr>
          {% endif %}
          <tr>
              <th  scope="row">Expected Cash</th>
        
              <td class="numbers">{{ (sales_breakdown["Cash"]-total_cash_expenses) | round(2) }}</td>

          </tr>
          <tr>
            <th  scope="row"> Actual Cash Banked</th>
            {% if cash_up %}
            <td class="numbers">{{ cash_up.actual_amount | round(2) }}</td>
            {% else %}
            <td class="numbers"></td>
            {% endif %}
          </tr>
        </table>
        </div>
        </div>
        </div>
        </div>
        
        
      
      </div>
    
     <!--Shift Slection Modal-->
   <div class="modal fade" id="ShiftSelection" tabindex="-1" role="dialog" aria-labelledby="ShiftSelectionFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ShiftSelectionFormLabel">Select Shift</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form  action="{{ url_for('get_driveway') }}" method="post" > 
                    <div class="form-group">
                        <input type = "date"  name="date" autocomplete="off"  autofocus class="form-control" required>
                    </div>
                    <div class="form-group">
                      <select class="form-control" name="shift">
                        <option selected>Total</option>
                        <option>Day</option>
                        <option>Night</option>
                    </select>
                  </div>

                    <button class="btn btn-primary btn-block" type="submit">Enter</button>
            
                 </form>
            </div>
            <div class="modal-footer">  
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
  