{% extends "accounts_layout.html" %}

{% block title %}
From:{{ start_date }} To: {{ end_date }}
{% endblock %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row">
        <div class="col-sm-6 col-lg-8 col-md-8 ">
          <div class="card">
            <div class="card-header" style="background-color: lightseagreen;">Filter</div>
            <div class="card-body">
            <form  action="{{ url_for('journals') }}" id="form" method="post">
              <div class="form-group">
                <label for="account">Select Account:</label>
                  <select class="form-control"  id="account" name="account">
                    <option value="{{ ac.id }}" selected>{{ ac.account_name }}</option>
                      {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.account_name }}</option>
                    {% endfor %}
                  </select>
              </div>
             
              <div class="form-group">
                <label for="start_date">From:</label>
                  <input type = "date"  value="{{ start_date }}" id="start_date" name="start_date" autocomplete="off" autofocus class="form-control" required>
              </div>
              <div class="form-group">
                <label for="end_date">To:</label>
                  <input type = "date"  value="{{ end_date }}" id="end_date" name="end_date" autocomplete="off"  class="form-control" required>
              </div>
              <div class="form-group">
                  <button type="submit"  id="clickbutton" class="btn btn-block btn-outline-secondary">Filter <span data-feather="filter"></span></button>
              </div>
              </form>
              </div>
          </div>
        </div>
    </div>
</div>

<div class="text-center">
<h4>Journals</h4>
    
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Journal Number</th>
                        <th>Details</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ start_date }}</td>
                    <td></td>
                    <td>Opening Balance</td>
                    {% if entry == "DR" %}
                    <td>{{ opening_balance | currencyFormat }}</td>
                    {% else %}
                    <td>{{ opening_balance | currencyFormat }}</td>
                    {% endif %}
                  </tr>
                    {% for j in journals %}
                    <tr>
                        <td>{{ j.date }}</td>
                        <td>{{ j.id }}</td>
                        <td>{{ j.details }}</td>
                        {% if j.dr == account_id %}
                        <td>{{ j.amount | currencyFormat }}</td>
                        <td></td>
                        {% else %}
                        <td>0</td>
                        <td>{{ j.amount | currencyFormat  }}</td>
                        {% endif %}
                        <td>
                          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Journal{{ j.id }}">
                            View <span data-feather="eye"></span>
                        </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>               
                            
     <!--Journal Modal -->
     {% for j in journals %}
     <div class="modal fade" id="Journal{{ j.id }}" tabindex="-1" role="dialog" aria-labelledby="Journal{{ j.id }}FormModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="Journal{{ j.id }}FormLabel">Journal</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                 </div>
                 <div class="modal-body">
                     <table class="table table-sm">
                       <thead>
                         <th>Date</th>
                         <th>Account</th>
                         <th>DR</th>
                         <th>CR</th>
                       </thead>
                       <tbody>
                         <tr>
                           <td>{{ j.date }}</td>
                           <td>{{ names[j.dr] }}</td>
                           <td>{{ j.amount | currencyFormat }}</td>
                           <td>0</td>
                         </tr>
                         <tr>
                          <td>{{ j.date }}</td>
                          <td>{{ names[j.cr] }}</td>
                          <td>0</td>
                          <td>{{ j.amount | currencyFormat }}</td>
                        </tr>
                         <tr>
                           <td colspan="4" class="text-center h6">
                             {{ j.details }}
                           </td>
                         </tr>
                       </tbody>
                     </table>
                    </div>
                 
                 <div class="modal-footer">  
                     <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                 </div>
                 </div>
             </div>
         </div>
     
     {% endfor %}
<!--Journal Modal-->


    
{% endblock %}