{% extends "accounts_layout.html" %}

{% block title %}
From:{{ start_date }} To: {{ end_date }}
{% endblock %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row">
        <div class="col-sm-6 col-lg-8 col-md-8 ">
          <div class="card">
            <div class="card-header" style="background-color: lightseagreen;">Filter</div>
            <div class="card-body">
            <form  action="{{ url_for('ledger') }}" id="form" method="post">
              <div class="form-group">
                <label for="account">Select Account:</label>
                  <select class="form-control"  id="account" name="account">
                      {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.account_name }}</option>
                    {% endfor %}
                  </select>
              </div>
             
              <div class="form-group">
                <label for="start_date">From:</label>
                  <input type = "date"  value="{{ start_date }}" id="start_date" name="start_date" autocomplete="off" autofocus class="form-control" required>
              </div>
              <div class="form-group">
                <label for="end_date">To:</label>
                  <input type = "date"  value="{{ end_date }}" id="end_date" name="end_date" autocomplete="off"  class="form-control" required>
              </div>
              <div class="form-group">
                  <button type="submit"  id="clickbutton" class="btn btn-block btn-outline-secondary">Enter</button>
              </div>
              </form>
              </div>
          </div>
        </div>
    </div>
</div>

<div class="text-center">
<h4>Journals</h4>
    
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Details</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in journals %}
                    <tr>
                        <td>{{ j.date }}</td>
                        <td>{{ j.details }}</td>
                        {% if j.dr == account_id %}
                        <td>{{ j.amount| round(2) }}</td>
                        <td></td>
                        {% else %}
                        <td>0</td>
                        <td>{{ j.amount| round(2)  }}</td>
                        {% endif %}
                        <td>00</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>               
                            
    

    
{% endblock %}