<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sign In</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-info border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
  {% endif %}
    <form class="form-signin" action="{{ url_for('user_login') }}" method="post">
      <div class="card" style="font-family: cursive;">

      <div class="card-header" style="background-color:black; color: white;">Please enter your log in details</div>
      <div class="card-body" >
      <div class="form-group">
        <label for="inputUsername" >User Name:</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="User Name" required autofocus>
        </div>
      <div class="form-group">
      <label for="inputPassword">Password:</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      </div>
      </div>
      <div class="card-footer">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <small class="text-muted"> <a href="{{ url_for('forgot_password') }}">Forgot Password?</a></small>
      </div>
      </div>
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </main>
  </body>
</html>

  
  