{% extends "landing_layout.html" %}

{% block title %}
    Enter Company Code
{% endblock %}

{% block main %}
    
      <form class="form-inline text-center justify-content-center"  action="{{ url_for('login') }}" method="post">
        <div class="card  mb-5 bg-white rounded">
          <div class="card-header" style="background-color:lavender; color: grey;">Please enter your company code</div>
          <div class="card-body">
          <div class="form-group">
         
          <input type="text" id="inputCompany" name="tenant_code" class="form-control" placeholder="Company Code" required autofocus>
          </div>
          </div>
          <div class="card-footer">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Enter</button>
          <small class="text-muted"> <a href="{{ url_for('forgot_password') }}">Forgot Password?</a></small>
          </div>
        </div>
      </form>
     
 {% endblock %} 