{% extends "company_layout.html" %}



{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <form action="{{ url_for('reset_users') }}" method="post" > 
       <button class="btn btn-primary btn-block btn-group" type="submit">Logout all users</button>
    </form>
    
</div>
    
 
  <h2>Users Table
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#AddUserFormModal">Add User</button>
          <button class="btn btn-sm btn-outline-secondary"data-toggle="modal" data-target="#DeleteUserFormModal">Delete User</button>
        </div>
    </div>
  </h2>


  
    
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Role</th>
                        <th>Modify User</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users_roles %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#EditUser{{ user[0] }}">
                                Edit User
                            </button>
                        </td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                 
                            <!--Edit User Modal -->
                            {% for user in users_roles %}
                            <div class="modal fade" id="EditUser{{ user[0] }}" tabindex="-1" role="dialog" aria-labelledby="EditUserFormModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="EditUserFormLabel">Edit {{ user[0] }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">
                                            <form  action="{{ url_for('edit_user') }}" method="post" > 
                                                <div class="form-group  " >
                                                    <input type = "text"  value="{{ user[0] }}" name="username" autocomplete="off" placeholder="Username" autofocus class="form-control" required>
                                                </div>
                                                <div class="form-group  ">
                                                    <input type = "password" name="password" autocomplete="off" placeholder="Password" autofocus class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type = "password" name="password1" autocomplete="off" placeholder="Re-enter Password" autofocus class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control" name="role">
                                                        <option  selected>Choose Role</option>
                                                        {% for role in roles %}
                                                        <option  value="{{ role.id }}">{{ role.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div> 
                                                <button class="btn btn-primary btn-block" type="submit">Update User</button>
                                                </div>
                                             </form>
                                        </div>
                                        <div class="modal-footer">  
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                     <!--Edit User Modal-->

        
                <!-- Add User Modal -->
                <div class="modal fade" id="AddUserFormModal" tabindex="-1" role="dialog" aria-labelledby="AddUserFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddUserFormLabel">Add New User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <form  action="{{ url_for('add_user') }}" method="post" > 
                                    <div class="form-group  " >
                                        <input type = "text"  name="username" autocomplete="off" placeholder="Username" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <input id="pass" type = "password"  name="password" autocomplete="off" placeholder="Password" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group  ">
                                        <input id="pass1" type = "password"  name="password1" autocomplete="off" placeholder="Re-enter Password" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="role">
                                            <option selected>Choose..</option>
                                            {% for  role in roles %}
                                            <option  value="{{ role.id }}">{{ role.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                    <button class="btn btn-primary btn-block" type="submit">Add User</button>
                                    </div>
                                 </form>
                            </div>
                            <div class="modal-footer">  
                                <button id="edit" type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--Add User-->
                
                    <!--Delete User Modal -->
                    <div class="modal fade" id="DeleteUserFormModal" tabindex="-1" role="dialog" aria-labelledby="DeleteUserFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteUserFormLabel">Remove User</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('delete_user') }}" method="post" > 
                                        <div>
                                            <select class="form-control" name="users">
                                                <option selected>Choose..</option>
                                                {% for  user in users %}
                                                <option  value="{{ user.id }}">{{ user.username }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="p-2">
                                        <button class="btn btn-primary btn-block btn-group" type="submit">Remove User</button>
                                        </div>
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div><!--Deletes User-->
       

<script>
    document.getElementById('edit').addEventListener("submit", function () {
        var pass1 = document.getElementById("pass1").value;
        var pass = document.getElementById("pass").value
        if( pass != pass1){
            event.preventDefault();
            alert("validation failed false");
            returnToPreviousPage()
            return false;
        }
        else{
            return true;
        }
</script>  

    
{% endblock %}