{% extends "inventory_control_layout.html" %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Manage Products</h1>
    
  </div>

  <h2>Products Table
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#AddProductFormModal">Add Product</button>
          <button class="btn btn-sm btn-outline-secondary"data-toggle="modal" data-target="#DeleteProductFormModal">Delete Product</button>
        </div>
      </div>
  </h2>

    <div class="row">
        <div class="col-md-6">
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Selling Price</th>
                        <th>Recent Cost Price</th>
                        <th>Average Cost Price</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.selling_price }}</td>
                        <td>{{ product.cost_price }}</td>
                        <td>{{ product.avg_price }}</td>
                        <td>{{ qty[product.name] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
             </div>           

        
                <!-- Add Product Modal -->
                <div class="modal fade" id="AddProductFormModal" tabindex="-1" role="dialog" aria-labelledby="AddProductFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddProductFormLabel">Add Product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <form  action="{{ url_for('add_product') }}" method="post" >
                                    <div class="form-row">
                                    <div class="form-group col-md-4" >
                                        <label for="N">Product Name:</label>
                                        <input id="N" type = "text"  name="product_name" autocomplete="off" placeholder="Product Name" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group  col-md-4">
                                        <label for="PT">Product Type:</label>
                                        <select id="PT" class="form-control" name="product_type">
                                            <option value="Fuels" selected>Fuels</option>
                                        </select>
                                    </div>
                                   
                                    <div class="form-group col-md-4 " >
                                        <label for="SP">Selling Price:</label>
                                        <input id="SP" type = "number" step="0.01"  name="price" autocomplete="off" placeholder="Product Price" autofocus class="form-control" required>
                                    </div>
                                    </div>
                                    <div class="form-row">
                                    <div class="form-group  col-md-4 ">
                                        <label for="CP">Cost Price:</label>
                                        <input id="CP" type = "number" step="0.01" name="cost" autocomplete="off" placeholder="Product Cost" autofocus class="form-control" required>
                                    </div>
                            
                                    
                                    <div class="form-group  col-md-4 " >
                                        <label for="Qty">Opening Quantity:</label>
                                        <input id="Qty" type = "number"  step="any" name="qty" autocomplete="off" placeholder="Quantity" autofocus class="form-control" required>
                                    </div>
                                    
                                    <div class="form-group col-md-4">
                                        <label for="Account">Inventory Account:</label>
                                        <select id="Account" class="form-control" name="account">
                                            {% for account in accounts %}
                                            <option value="{{ account.id }}" selected>{{ account.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    </div>
                                    <div class="form-row">
                                    <div class="form-group  col-md-8 " >
                                        <label for="SD">Starting Date:</label>
                                        <input id="SD" type = "date"   name="date" autocomplete="off" placeholder="Quantity" autofocus class="form-control" required>
                                    </div>
                                    </div>
                                    <button class="btn btn-primary btn-block" type="submit">Add Product</button>
                            
                                 </form>
                            </div>
                            <div class="modal-footer">  
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--Add Product-->
                
                    <!--Delete Product Modal -->
                    <div class="modal fade" id="DeleteProductFormModal" tabindex="-1" role="dialog" aria-labelledby="DeleteProductFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteProductFormLabel">Remove Product</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('delete_product') }}" method="post" > 
                                        <div class="form-group">
                                            <select class="form-control" name="products">
                                                <option selected></option>
                                                {% for  product in products %}
                                                <option  value="{{ product.id }}">{{ product.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="p-2">
                                        <button class="btn btn-primary btn-block" type="submit">Delete Product</button>
                                        </div>
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div><!--Deletes Product-->
        </div>
    </div>

    

    
{% endblock %}