{% extends "report_layout.html" %}



{% block main %}



<div class="text-center">
<h4>Daily Fuel Gross Profit</h4>


    <form style="display: inline-block;" action="{{ url_for('profit_statement') }}"  method="post">
        <div class="form-group">
            <label for="StartDate">Start Date: </label>
        <input id="StartDate" type = "date"  name="start_date" autocomplete="off"autofocus class="form-control" required>
        </div>
        <label for="EndDate">End Date :</label>
        <div class="form-group">
        <input id="EndDate" type = "date"  name="end_date" autocomplete="off"autofocus class="form-control" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Filter</button>
    
    </form>
</div>
<div class="p-3 text-center">
    <h6>Period: {{ start_date }}  TO   {{ end_date }}</h6>
</div>
<div class="p-3"></div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th style="background-color: limegreen;"></th>
                        {% for product in products %}
                        <th colspan="4" class="text-center">{{ product }}</th>
                        <th style="background-color: limegreen;"></th>
                        {% endfor %}
                        
                        <th>Total Litres</th>
                        <th>Gross Profit</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th style="background-color: limegreen;"></th>
                        {% for product in products %}
                        <th>Litres Sold</th>
                        <th>Selling Price</th>
                        <th>Cost Price</th>
                        <th>Gross Profit</th>
                        <th style="background-color: limegreen;"></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for date in reports %}
                    <tr>
                        
                        <td>{{ date }}</td>
                        <td style="background-color: limegreen;"></td>
                        {% for product in products %}
                        <td>{{ reports[date][product][0] }}</td>
                        <td >{{ reports[date][product][1] | round(2) }}</td>
                        <td>{{ reports[date][product][2] | round(2) }}</td>
                        <td>{{ reports[date][product][0]*reports[date][product][3] | round(2) }}</td>
                        <td style="background-color: limegreen;"></td>
                        {% endfor %}
                        <td>{{ total_litres[date] }}</td>
                        <td>{{ total_profit[date] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %} 

    