{% extends "layout.html" %}

{% block title %}
Pump Readings
{% endblock %}

{% block sidebar %}
<a href="{{ url_for('pump_meter_readings') }}"><span style="color: royalblue;">Back</span></a>



<div class="p-3 text-center">
    <h3> Pump {{ pump.name }} readings</h3>
    <h6>Period: {{ start_date }}  to  {{ end_date }}</h6>
</div>
<div class="p-3"></div>
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Opening Meter Reading (Litres</th>
                        <th>Closing Meter Reading (Litres)</th>
                        <th> Sales (Litres)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date in report %}
                    <tr> 
                        <td>{{ date }}</td>
                        <td>{{ report[date][0] }}</td>
                        <td>{{ report[date][1] }}</td>
                        <td>{{ report[date][1]-report[date][0] }}</td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>

{% endblock %}

    