{% extends "layout.html" %}

{% block title %}
    Readings    
{% endblock %}

{% block main %}

<ul  class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pumpreadings-tab" role="tab" aria-controls="PumpReading" href="#PumpReadings" data-toggle="tab" aria-selected="true">
            Pump Readings
        </a>
    </li>
    <li class="nav-item"><a class="nav-link" id="tankdips-tab" role="tab" aria-controls="TankDips" href="#TankDips" data-toggle="tab" aria-selected="false">Tank Dips</a></li>
    <li class="nav-item"><a class="nav-link" id="fueldeliveries-tab" role="tab" aria-controls="FuelDeliveries" href="#FuelDeliveries" data-toggle="tab" aria-selected="false">Fuel Deliveries</a></li>
    <li class="nav-item"><a class="nav-link" id="customersales-tab" role="tab" aria-controls="CustomerSales" href="#CustomerSales" data-toggle="tab" aria-selected="false">Customer Sales</a></li>
    <li class="nav-item"><a class="nav-link" id="expenses-tab" role="tab" aria-controls="Expenses" href="#Expenses" data-toggle="tab" aria-selected="false">Expenses</a></li>
    <li class="nav-item"><a class="nav-link" id="cashcounts-tab" role="tab" aria-controls="Expenses" href="#CashCounts" data-toggle="tab" aria-selected="false">Cash Counts</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="PumpReadings" role="tabpanel" aria-labelledby="pumpreadings-tab">
        <div class="text-center p-5">
        <form role="form" style="display: inline-block;" action="{{ url_for('pump_readings_entry') }}" method="post" >
        <div class="form-group"> 
            <select class="form-control" name="pump_id">
                <option selected>Choose..</option>
                {% for pump in pumps %}
                <option value="{{ pump.id }}">{{ pump.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group"> 
            <input type = "text"  name="litre_reading" autocomplete="off" placeholder="Litre Reading" autofocus class="form-control">
        </div>
        <div class="form-group">   
            <input type = "text"  name="money_reading" autocomplete="off" placeholder="Money Reading" autofocus class="form-control">
        </div>
            <button class="btn btn-primary btn-block" type="submit">Enter</button>      
        </form>
    
        </div>
</div>
    <div class="tab-pane" id="TankDips" role="tabpanel" aria-labelledby="tankdips-tab">
        <form  action="{{ url_for('tank_dips_entry') }}" method="post" > 
            <div class="form-row">
                <div class="form-group col-md-3" >
                    <select class="form-control" name="pump_id">
                        <option selected>Choose..</option>
                        <option >Tank A1</option>
                    </select>
                </div>
                <div class="form-group col-md-4" >
                    <input type = "text"  name="tank_dip" autocomplete="off" placeholder="Tank Dips" autofocus class="form-control">
                </div>
            </div>
            <button  class="btn btn-success" class="btn btn-success" type="submit">Save changes</button>      
        </form>
    </div>
    <div class="tab-pane" id="FuelDeliveries" role="tabpanel" aria-labelledby="fueldeliveries-tab">
        <form  action="{{ url_for('fuel_delivery') }}" method="post" > 
            <div class ="form-row">
                <div class="form-group col-md-5">
                    <input type="text" name="document_number"  placeholder="Document Number" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3" >
                    <select class="form-control" name="pump_id">
                        <option selected>Choose..</option>
                        <option>Tank A1</option>
                    </select>
                </div>
                <div class="form-group col-md-4" >
                    <input type = "text"  name="product" autocomplete="off" placeholder="Product" autofocus class="form-control">
                </div>
                <div class="form-group col-md-4" >
                    <input type = "text"  name="litres_delivered" autocomplete="off" placeholder="Litres Delivered" autofocus class="form-control">
                </div>
            </div>
            <button  class="btn btn-success" class="btn btn-success" type="submit">Save changes</button>      
        </form>
    </div>
    <div class="tab-pane" id="CustomerSales">

    </div>
    <div class="tab-pane" id="Expenses">

    </div>
    <div class="tab-pane" id="CashCounts">

    </div>
</div>
 

    
{% endblock %}