{% extends "layout.html" %}

{% block title %}
    Driveway
{% endblock %}

{% block sidebar %}
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar sidelayout">
          <div class="sidebar-sticky">
            
            
          <!--Admin View-->

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span style="color: lime;">Reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('get_driveway') }}">
                <span data-feather="file-text"></span>
                <span style="color: lightseagreen;">
                Driveway Report
                </span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profit_statement') }}">
                  <span data-feather="file-text"></span>
                  <span style="color: lightseagreen;">
                  Daily Fuel Gross Profit Statement
                  </span>
                </a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cash_up_reports') }}">
                  <span data-feather="file-text"></span>
                  <span style="color: lightseagreen;">
                  Cash Up Report
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lubes_cash_up_reports') }}">
                  <span data-feather="plus-circle"></span>
                  <span style="color: lightseagreen;">
                  Lubricants Cash Up Reports
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cash_accounts') }}">
                  <span data-feather="plus-circle"></span>
                  <span style="color: lightseagreen;">
                  Cash Account
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('tanks') }}">
                  <span data-feather="file-text"></span>
                  <span style="color: lightseagreen;">
                  Tank Variance Report
                  </span>
                </a>
              </li>
          </ul>
        </nav>
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-info border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
            {% block main %}{% endblock %}
            <footer class="text-center text-muted">
              &copy; 2020
            </footer>
        </main>

      </div>
       
      {% endblock %}
   

    