{% extends "layout.html" %}

{% block title %}
Sales Summary
{% endblock %}

{% block sidebar %}
<a href="{{ url_for('sales_summary') }}"><span style="color: royalblue;">Back</span></a>



<div class="p-3 text-center">
    <h4>Sales Summary</h4>
    <h6>Period: {{ start_date }}  TO   {{ end_date }}</h6>
</div>
<div class="p-3"></div>
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Daily Pump Sales</th>
                        <th>Cumulative Pump Sales</th>
                        <th> Opening Dip</th>
                        <th>Qty Purchased</th>
                        <th> Closing Dip</th>
                        <th> Daily Tank Sales</th>
                        <th> Cumulative Tank Sales</th>
                        <th> Daily Variance</th>
                        <th> Cumulative Variance</th>
                        <th> Cumulative Variance %</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date in report %}
                    <tr> 
                        <td>{{ date }}</td>
                        <td>{{ report[date][5] }}</td>
                        <td>{{ report[date][9] }}</td>
                        <td>{{ report[date][0] }}</td>
                        <td>{{ report[date][2] }}</td>
                        <td>{{ report[date][1] }}</td>
                        <td>{{ report[date][3] }}</td>
                        <td>{{ report[date][4] }}</td>
                        <td>{{ report[date][6] }}</td>
                        <td>{{ report[date][7] }}</td>
                        <td>{{ report[date][8] }}</td>       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}
    