<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
<link href="/static/dashboard.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<!--DataTables-->
<link rel="stylesheet" type="text/css" href="/static/DataTables/DataTables-1.10.21/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/DataTables/Buttons-1.6.3/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/DataTables/SearchPanes-1.1.1/css/searchPanes.dataTables.min.css"/>

<a href="{{ url_for('sales_summary') }}"><span style="color: royalblue;">Back</span></a>



<div class="p-3 text-center">
    <h4>Sales Summary</h4>
    <h6>Period: {{ start_date }}  TO   {{ end_date }}</h6>
</div>
<div class="p-3"></div>
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Daily Pump Sales</th>
                        <th>Cumulative Pump Sales</th>
                        <th> Opening Dip</th>
                        <th>Qty Purchased</th>
                        <th> Closing Dip</th>
                        <th> Daily Tank Sales</th>
                        <th> Cumulative Tank Sales</th>
                        <th> Daily Variance</th>
                        <th> Cumulative Variance</th>
                        <th> Cumulative Variance %</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date in report %}
                    <tr> 
                        <td>{{ date }}</td>
                        <td>{{ report[date][5] }}</td>
                        <td>{{ report[date][9] }}</td>
                        <td>{{ report[date][0] }}</td>
                        <td>{{ report[date][2] }}</td>
                        <td>{{ report[date][1] }}</td>
                        <td>{{ report[date][3] }}</td>
                        <td>{{ report[date][4] }}</td>
                        <td>{{ report[date][6] }}</td>
                        <td>{{ report[date][7] }}</td>
                        <td>{{ report[date][8] }}</td>       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
<script src="/static/vendor/jquery/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/static/scripts.js" type="text/javascript" ></script>
    <!--DataTables-->
    <script type="text/javascript" src="/static/DataTables/JSZip-2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="/static/DataTables/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/DataTables/Buttons-1.6.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/static/DataTables/Buttons-1.6.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/static/DataTables/SearchPanes-1.1.1/js/dataTables.searchPanes.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#export').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        } );
    } );
    </script>

    