{% extends "report_layout.html" %}



{% block main %}



<div class="text-center">
<h4>Sales Analysis</h4>


    <form style="display: inline-block;" action="{{ url_for('sales_analysis') }}"  method="post">
        <div class="form-group">
            <label for="StartDate">Start Date: </label>
        <input id="StartDate" type = "date"  name="start_date" autocomplete="off"autofocus class="form-control" required>
        </div>
        <label for="EndDate">End Date :</label>
        <div class="form-group">
        <input id="EndDate" type = "date"  name="end_date" autocomplete="off"autofocus class="form-control" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Filter</button>
    
    </form>
</div>
<div class="p-3 text-center">
    <h6>Period: {{ start_date |dateFormat  }}  to   {{ end_date |dateFormat  }}</h6>
</div>
<div class="p-3"></div>
            <table class="display" id="export">
                <thead>
                    <th>Date</th>
                    <th> Total Sales (L)</th>
                    <th> Expected Sales Amount</th>
                    <th>Actual Sales Amount</th>
                    <th>View</th>
                </thead>
                <tbody>
                    {% for date in reports %}
                    <tr>
                        
                        <td>{{ date }}</td>
                        <td>{{ reports[date][0] }}</td>
                        <td>{{ reports[date][1] | currencyFormat }}</td>
                        <td>{{ reports[date][2] | currencyFormat }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#SalesBreakdown{{ date }}">
                                View Breakdown <span data-feather="eye"></span>
                            </button>
                        </td> 
                           
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>

<!--Sales Breakdown-->
{% for date in reports %}
<div class="modal fade" id="SalesBreakdown{{ date }}" tabindex="-1" role="dialog" aria-labelledby="SalesBreakdown{{ date }}FormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SalesBreakdown{{ date }}FormLabel">Period: {{ date }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm">
                    <thead>
                        <th>Account</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        {% for customer in sales_breakdown[date] %}
                        <tr>
                            
                            <td>{{ customer }}</td>
                            <td>{{ sales_breakdown[date][customer] }}</td>
                               
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">  
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
  <!--Sales Breakdown-->
{% endblock %} 

    