<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Activate</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="{{ url_for('activate',tenant_schema= session['schema']) }}" method="post">

      <h4>After activation, Please use details sent for login</h4>
      
      <h2 class="h3 mb-3 font-weight-normal">Click below to activate your account</h2>
      <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Activate</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
  </body>
</html>

  