{% extends "layout.html" %} 

{% block title %}
    SS26
{% endblock %}

{% block main %}

<table>
    <thead>
        <tr>
            <th>Pump</th>
            <th>Current Reading</th>
            <th>Previous Reading</th>
            <th>Sales</th>
        </tr>
    </thead>
    <tbody>
        {% for pump in pumps %}
        <tr>
            <td>{{ pump.name }}</td>
            <td>{{ pump_readings[pump.name][1] }}</td>
            <td>{{ pump_readings[pump.name][0] }}</td>
            <td>{{ pump_readings[pump.name][1]-pump_readings[pump.name][0] }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}