{% extends "layout.html" %}

{% block title %}
{{ supplier }} Statement
{% endblock %}

{% block sidebar %}
<a href="{{ url_for('suppliers') }}"><span style="color: royalblue;">Back</span></a>


<h4 class="h4 text-center p3">{{ supplier }} Statement</h4>
<div class="text-center">
<h5>Balance: {{ net | round(2) }}</h5>

    <form style="display: inline-block;" action="{{ url_for('supplier',supplier_id= supplier.id) }}"  method="post">
    <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <input type = "date"  name="start_date" autocomplete="off"autofocus class="form-control" required>
        <input type = "date"  name="end_date" autocomplete="off"autofocus class="form-control" required>
        <button type="submit" class="btn btn-sm btn-outline-secondary">Enter</button>
    </div>
    </div>
    </form>
    <h6>Period: {{ start }}  TO   {{ end }}</h6>
</div>
<div class="p-5 text-center">
    <table class="display" id="statement">
        <thead>
            <th>Date</th>
            <th>Details</th>
            <th>Dr</th>
            <th>Cr</th>
            <th>Balance</th>
         

        </thead>
        <tbody>
            <tr>
                <td>{{ start }}</td>
                <td>Opening Balance</td>
                <td></td>
                <td></td>
                <td>{{ report['balance'] | round(2) }}</td>
            </tr>
            {% for i in report %}
            <tr>
                <td>{{ report[i]["date"]  }}</td>
                <td>{{ report[i]["details"] }}</td>
                <td>{{ report[i]['dr']  }}</td>
                <td>{{ report[i]['cr'] }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
