{% extends "customers_layout.html" %}



{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#SupplierPayment">
     Pay Vendor
      </button>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#AddSupplierFormModal">Add Supplier</button>
        <button class="btn btn-sm btn-outline-secondary"data-toggle="modal" data-target="#DeleteSupplierFormModal">Delete Supplier</button>
      </div>
    </div>
  </div>

  <h4>Suppliers List</h4>
    
        
            <table class="display" id="export">
                <thead>
                    <tr>
                        <th>Supplier</th>
                        <th>Contact Person</th>
                        <th>Phone Number</th>
                        <th>Balance</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier.contact_person }}</td>
                        <td>{{ supplier.phone_number }}</td>
                        <td><a href="{{ url_for('supplier',supplier_id=supplier.id) }}">{{ balances[supplier.name] }}</a></td>
                        <td>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#EditSupplier{{ supplier.id }}">
                                Edit Supplier
                            </button>
                        </td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            

                            <!--Edit Supplier Modal -->
                            {% for supplier in suppliers %}
                            <div class="modal fade" id="EditSupplier{{ supplier.id }}" tabindex="-1" role="dialog" aria-labelledby="EditSupplierFormModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="EditSupplierFormLabel">Edit {{ supplier.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">
                                            <form  action="{{ url_for('edit_supplier') }}" method="post" > 
                                                <div class="form-group  " >
                                                    
                                                    <input id="PH"  type="text"  value="{{ supplier.id }}" name="id" autocomplete="off"  autofocus class="form-control" hidden>
                                                </div>
                                                <div class="form-group  " >
                                                    <label for="CN">Contact Number:</label>
                                                    <input id="SN" type = "text"  value="{{ supplier.name }}" name="name" autocomplete="off" placeholder="Username" autofocus class="form-control" required>
                                                </div>
                                                <div class="form-group  ">
                                                    <label for="CP">Contact Person:</label>
                                                    <input id="CP" type = "text" value="{{ supplier.contact_person }}" name="contact_person" autocomplete="off" placeholder="contact_person" autofocus class="form-control" required>
                                                </div>
                                                <div class="form-group  ">
                                                    <label for="PH">Phone Number:</label>
                                                    <input id="PH" type ="text" value="{{ supplier.phone_number }}" name="phone" autocomplete="off" placeholder="Phone Number" autofocus class="form-control" required>
                                                </div>
                                                
                                                <button class="btn btn-primary btn-block" type="submit">Update Supplier</button>
                                            
                                             </form>
                                        </div>
                                        <div class="modal-footer">  
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                     <!--Edit Supplier Modal-->

        
                <!-- Add Supplier Modal -->
                <div class="modal fade" id="AddSupplierFormModal" tabindex="-1" role="dialog" aria-labelledby="AddSupplierFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddSupplierFormLabel">Add New Supplier</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <form  action="{{ url_for('add_supplier') }}" method="post" > 
                                    <div class="form-group  " >
                                        <input type = "text"  name="name" autocomplete="off" placeholder="name" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group  ">
                                        <input type = "text"  name="contact_person" autocomplete="off" placeholder="contact person" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group  ">
                                        <input type ="text"  name="phone" autocomplete="off" placeholder="Phone Number" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group  ">
                                        <label for="OP">Opening Balance:</label>
                                        <input id="OP" type = "number" step="0.01" name="balance" autocomplete="off" placeholder="Opening Balance" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group " >
                                        <label for="SD">Starting Date:</label>
                                        <input id="SD" type = "date"   name="date" autocomplete="off" placeholder="Quantity" autofocus class="form-control" required>
                                    </div>
                                    <button class="btn btn-primary btn-block" type="submit">Add Supplier</button>
                                
                                 </form>
                            </div>
                            <div class="modal-footer">  
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--Add Supplier-->
                
                    <!--Delete Supplier modal -->
                    <div class="modal fade" id="DeleteSupplierFormModal" tabindex="-1" role="dialog" aria-labelledby="DeleteSupplierFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteSupplierFormLabel">Remove Supplier</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('delete_supplier') }}" method="post" > 
                                        <div class="form-group">
                                            <select class="form-control" name="suppliers">
                                                <option selected>Choose..</option>
                                                {% for  supplier in suppliers %}
                                                <option  value="{{ supplier.id }}">{{ supplier.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                        
                                        <button class="btn btn-primary btn-block btn-group" type="submit">Remove Supplier</button>
                                        </div>
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div><!--Deletes Supplier Account-->
                    <!--Supplier Payment-->
                    <div class="modal fade" id="SupplierPayment" tabindex="-1" role="dialog" aria-labelledby="SupplierPaymentFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="SupplierPaymentFormLabel">Pay Supplier</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('supplier_payment') }}" method="post" > 
                                        
                                            <div class="form-group">
                                                <label for="SD">Date:</label>
                                                <input id="SD" type = "date"  name="date" autocomplete="off"  autofocus class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="Supplier">Select Vendor:</label>
                                            <select id="Supplier" class="form-control" name="suppliers">
                                                <option selected></option>
                                                {% for  supplier in suppliers %}
                                                <option  value="{{ supplier.id }}">{{ supplier.name }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                    <div class="form-group">
                                        <label for="PP">Select Account:</label>
                                        <select id="PP" class="form-control" name="paypoint">
                                            <option selected></option>
                                            {% for  account in paypoints %}
                                            <option  value="{{ account.id }}">{{ account.account_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                        <div class="form-group ">
                                            <label for="AMT">Amount:</label>
                                            <input id="AMT" type ="number" step="0.01" name="amount" autocomplete="off" placeholder="Amount ($)" autofocus class="form-control" required>
                                        </div>
                                        <div class="form-group ">
                                            <label for="REF">Reference:</label>
                                            <input id="REF" type ="text"  name="ref" autocomplete="off" placeholder="Reference" autofocus class="form-control">
                                        </div>
                                
                                        <button class="btn btn-primary btn-block btn-group" type="submit">Pay</button>
                                
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                        </div>
                        
                    </div><!--Customer Payment-->
    

    

    
{% endblock %}