{% extends "inventory_control_layout.html" %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Manage Tanks</h1>
    
  </div>

  <h2>Tanks Table
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#AddTankFormModal">Add Tank</button>
          <button class="btn btn-sm btn-outline-secondary"data-toggle="modal" data-target="#DeleteTankFormModal">Delete Tank</button>
        </div>
      </div>
  </h2>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Tank Name</th>
                        <th>Product</th>
                        <th>Dip</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tank in tank_product %}
                    <tr>
                        <td>{{ tank[0].name }}</td>
                        <td>{{ tank[1].name }}</td>
                        <td><a href="{{ url_for('tank_variances',tank_id=tank[0].id) }}">{{ tank[0].dip }}</a></td>
                        <td>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#EditTank{{ tank[0].name }}">
                                Modify Tank
                            </button>
                        </td>   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
             </div>           

        
                <!-- Add Tank Modal -->
                <div class="modal fade" id="AddTankFormModal" tabindex="-1" role="dialog" aria-labelledby="AddTankFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddTankFormLabel">Add Tank</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <form  action="{{ url_for('add_tank') }}" method="post" > 
                                    <div class="form-group  " >
                                        <input type = "text"  name="tank_name" autocomplete="off" placeholder="Tank Name" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="product">
                                            <option selected>Product</option>
                                            {% for product in products%}
                                            <option  value="{{ product.id }}">{{ product.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group  " >
                                        <input type = "date"  name="date" autocomplete="off" placeholder="Date" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group  " >
                                        <input type = "text"  name="dip" autocomplete="off" placeholder="Opening Dip" autofocus class="form-control" required>
                                    </div>
                                    <div>
                                    <button class="btn btn-primary btn-block" type="submit">Add Tank</button>
                                    </div>
                                 </form>
                            </div>
                            <div class="modal-footer">  
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--Add Tank-->
                
                    <!--Delete Tank Modal -->
                    <div class="modal fade" id="DeleteTankFormModal" tabindex="-1" role="dialog" aria-labelledby="DeleteTankFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteTankFormLabel">Remove Tank</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('delete_tank') }}" method="post" > 
                                        <div class="form-group">
                                            <select class="form-control" name="tanks">
                                                <option selected>Choose..</option>
                                                {% for  tank in tanks %}
                                                <option  value="{{ tank.id }}">{{ tank.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                        <div>
                                        <button class="btn btn-primary btn-group" type="submit">Delete Tank</button>
                                        </div>
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div><!--Deletes Tank-->
                    <!--Edit Tank-->
                    {% for tank in tank_product %}
                            <div class="modal fade" id="EditTank{{ tank[0] }}" tabindex="-1" role="dialog" aria-labelledby="EditTankFormModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="EditTankFormLabel">Edit {{ tank[0] }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">
                                            <form  action="{{ url_for('edit_tank') }}" method="post" > 
                                                <div class="form-group" >
                                                    <input type = "text"  value="{{ tank[0].id }}" name="tank_id" autocomplete="off"  autofocus class="form-control" readonly>
                                                </div>
                                                <div class="form-group" >
                                                    <input type = "text"  value="{{ tank[0].name }}" name="name" autocomplete="off"  autofocus class="form-control" required>
                                                </div>
                                    
                                                <div class="form-group">
                                                    <select class="form-control" name="product">
                                                        <option selected>Choose..</option>
                                                        {% for  product in products %}
                                                        <option  value="{{ product.id }}">{{ product.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                              
                                                <div> 
                                                <button class="btn btn-primary btn-block" type="submit">Modify Tank Settings</button>
                                                </div>
                                             </form>
                                        </div>
                                        <div class="modal-footer">  
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    <!--Edit Tank-->
        </div>
    </div>

    

    
{% endblock %}