{% extends "layout.html" %}

{% block title %}
    Pump List
{% endblock %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Manage Pumps</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#AddUserFormModal">Add Pump</button>
        <button class="btn btn-sm btn-outline-secondary"data-toggle="modal" data-target="#DeleteUserFormModal">Delete Pump</button>
      </div>
    </div>
  </div>

  <h2>Pumps Table</h2>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tank Name</th>
                        <th>Product</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tank in tanks %}
                    <tr>
                        <td>{{ tank.name }}</td>
                        <td>{{ tank.product }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
             </div>           

        
                <!-- Add Tank Modal -->
                <div class="modal fade" id="AddTankFormModal" tabindex="-1" role="dialog" aria-labelledby="AddTankFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddTankFormLabel">Add Tank</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <form  action="{{ url_for('add_tank') }}" method="post" > 
                                    <div class="form-group  " >
                                        <input type = "text"  name="tank_name" autocomplete="off" placeholder="Tank Name" autofocus class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <input type = "text"  name="product" autocomplete="off" placeholder="Product" autofocus class="form-control" required>
                                    </div>
                                    <div class="p-2">
                                    <button class="btn btn-success btn-block" type="submit">Add Tank</button>
                                    </div>
                                 </form>
                            </div>
                            <div class="modal-footer">  
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--Add Tank-->
                
                    <!--Delete Pump Modal -->
                    <div class="modal fade" id="DeleteTankFormModal" tabindex="-1" role="dialog" aria-labelledby="DeleteTankFormModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeletePumpFormLabel">Remove Tank</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('delete_tank') }}" method="post" > 
                                        <div class="form-group">
                                            <select class="form-control" name="tanks">
                                                <option selected>Choose..</option>
                                                {% for  tank in tanks %}
                                                <option  value="{{ tank.id }}">{{ tank.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="p-2">
                                        <button class="btn btn-success btn-group" type="submit">Delete Tank</button>
                                        </div>
                                     </form>
                                </div>
                                <div class="modal-footer">  
                                    <button type="button" class="btn btn-primary btn-group" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div><!--Deletes Tank-->
        </div>
    </div>

    

    
{% endblock %}